@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Ubuntu:wght@500&display=swap');

:root {
    font-size: 16px;
    --project-label-size: 1.4rem;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-400: #9ca3af;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --neutral-700: #404040;
    --red-700: #f87171;
    --orange-300: #fdba74;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 300px 1fr;
}

#header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 0 30px;
}

#header > div {
    color: var(--gray-100);
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

#sidebar {
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sidebar > div:first-child {
    color: var(--gray-700);
    font-size: 1.5rem;
    font-weight: 500;
}

#sidebar .project,
#sidebar #create-project {
    padding: 5px;
    color: var(--gray-600);
    font-size: var(--project-label-size);
    font-weight: 100;
    border-radius: 5px;
}

#sidebar .project {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

#sidebar .project:hover,
#sidebar #create-project:hover {
    background-color: var(--gray-200);
}

#sidebar .name {
    flex-grow: 1;
    overflow: hidden;
}

#sidebar button {
    /* display: none; */
    background-color: var(--gray-100);
    color: var(--gray-400);
    height: var(--project-label-size);
    width: var(--project-label-size);
    border: none;
    border-radius: 4px;
}

#sidebar button:hover {
    background-color: var(--red-700);
    color: var(--gray-100);
}

#sidebar #create-project {
    text-align: center;
    color: var(--gray-400);
}

#main-section {
    /* max-width: 100%; */
    background-color: var(--gray-50);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 150px;
}

#main-section #title-container {
    display: grid;
    place-content: center;
    padding: 20px 0;
}

#title-container > div {
    color: var(--gray-700);
    font-size: 1.5rem;
    font-weight: 500;
}

#todos {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

#main-section .todo,
#main-section #create-todo {
    padding: 10px;
    color: var(--gray-600);
    font-size: 1.4rem;
    font-weight: 100;
    border-radius: 10px;
    /* background-color: var(--gray-100); */
    /* box-shadow: 0 0 3px 3px var(--gray-100); */
}

#main-section .todo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#main-section .name {
    /* flex: 1; */
    overflow: hidden;
}

#main-section .date {
    font-size: 1rem;
}

#main-section .spacer {
    flex: 1;
}

#main-section .edit-todo,
#main-section .remove-todo {
    background-color: var(--gray-50);
    border: none;
    border-radius: 4px;
    color: var(--gray-400);
}

#main-section .edit-todo:hover {
    background-color: var(--orange-300);
    color: var(--gray-100);
}

#main-section .remove-todo:hover {
    background-color: var(--red-700);
    color: var(--gray-100);
}

#main-section .todo:hover,
#main-section #create-todo:hover {
    background-color: var(--gray-100);
}

#main-section #create-todo {
    text-align: center;
    color: var(--gray-400);
}