@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Ubuntu:wght@500&display=swap');

:root {
    font-size: 16px;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-400: #9ca3af;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --neutral-700: #404040;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 250px 1fr;
}

#header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    background-color: var(--neutral-700);
    padding: 0 30px;
}

#header > div {
    color: var(--gray-100);
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

#sidebar {
    background-color: var(--gray-100);
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#sidebar > div:first-child {
    color: var(--gray-700);
    font-size: 1.5rem;
    font-weight: 500;
}

#sidebar .project {
    padding: 5px;
    color: var(--gray-600);
    font-size: 1.4rem;
    font-weight: 100;
    border-radius: 5px;
}

#sidebar .project:hover {
    background-color: var(--gray-200);
}

#sidebar #add-project {
    text-align: center;
    color: var(--gray-400);
}

#content {
    background-color: var(--gray-50);
}